#index{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image: url(../image/fond.png) ;
    background-attachment:fixed;
    display: flex;
}

#bonjour{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../image/QCM.jpg) ;
    background-attachment:fixed;
}
.QCM h1{
    text-align: center;
}

.QCM h2{
    text-align: center;
}

.QCM h3{
    text-align: center;
}

.titre{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 200px;
}

.image{
    width: 150px;
    height: 150px;
}

.salope{
    display: flex;
    justify-content: center;
}

.nul{
    display: flex;
    justify-content: center;
}

.bof{
    display: flex;
    justify-content: center;
}

.bien{
    display: flex;
    justify-content: center;
}

.bravo{
    display: flex;
    justify-content: center;
}

.formulaire{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-around;

}

.reponse{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    justify-content: space-around;

}

.none{
    display: none;
}

.juste{
    color: green;
    font-size: 30px;
    background-color: white;
}

.vrai{
    color: green;
    background-color: white;
}

.faux{
    color: red;
    background-color: white;
}

.blanc{
    font-size: 30px;
    background-color: white;
}
