body {
   background-image: url(img/bg.jpg); 
   background-size: cover;
   overflow: hidden;
   
}

.gauche ,.droite {
   z-index: 1;
}

.bonjour {
   display: flex;
   align-items: center;
   z-index: 2;
   justify-content: center;
}

.animation {
   position: relative;
   width: 100%;
}
.mask {
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   position: absolute;
}

.rouge {
   background-image: url(img/seq-a.png);
   width: 301px;  
   height:398px; 
   position:absolute;
   left:19%;
   top:50%;  
   transform: translate(-50%,-50%);
   overflow: hidden;
   z-index: 3;
}
.bleu {
   background-image: url(img/seq-b.png);
   width: 201px;  
   height: 297px; 
   position:absolute;
   right:10%;
   top:55%;  
   transform: translate(-50%,-50%);
   overflow: hidden;
   z-index: 300;
}
